.pdId {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdImgURL {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdName {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdPrice {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdType {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}